.body .list {
  position: relative;
  max-width: 240px;
  width: 100%;
  height: calc(100vh - 56px);
  overflow: hidden;
  overflow-y: scroll;
  border-right: 2px solid rgba(211, 211, 211, 0.4);
}

.body .list .title,
.body .list .subtitle {
  margin-block-end: 0px;
  margin-block-start: 0px;
  list-style-type: none;
}

.body .list .title a,
.body .list .subtitle a {
  text-decoration: none;
  padding: 10px 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body .list .title li,
.body .list .subtitle li {
  display: flex;
  position: relative;
}
.body .list .title a:hover,
.body .list .subtitle a:hover {
  background-color: rgba(211, 211, 211, 0.4);
}

.body .list .title a {
  padding: 10px 20px;
}
.body .list .subtitle a {
  padding: 10px 10px;
}

.body .list .title {
  padding-inline-start: 0px;
}

.body .list .subtitle {
  position: relative;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding-inline-start: 30px;
  transition: max-height 0.5s ease-in-out;
}

.body .list .title li.parent.selected::after {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  border-left: 8px solid #34568b;
  content: " ";
}

.body .list .subtitle li.selected {
  background-color: antiquewhite;
}

.body .list .title .children {
  width: 24px;
  stroke: rgb(212, 212, 212);
  transition: transform 0.5s ease-in-out;
}

.body .list .title.github {
  display: none;
}

@media screen and (min-width: 1300px) {
  .body .list {
    position: absolute;
    background: white;
    z-index: 1;
  }
}

@media screen and (max-width: 980px) {
  .body .list {
    position: absolute;
    background: white;
    z-index: 1;
    display: none;
  }
  .body .list.show {
    display: block;
  }
  .body .list .title.github {
    display: block;
  }
}
