/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/App.css ***!
  \**********************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap);
/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/App.css (1) ***!
  \**************************************************************************/
* {
  font-family: "Gowun Dodum", sans-serif;
}

a:link,
a:visited,
a:active {
  color: #34568b;
}
a:hover {
  color: #6b5b95;
}

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

body,
html {
  padding: 0px;
  margin: 0px;
}

table,
table td,
table th {
  border: 2px solid rgba(27, 31, 35, 0.3);
}

table th {
  background-color: rgba(27, 31, 35, 0.3);
}

table .body {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.body .container {
  width: 100%;
  height: calc(100vh - 56px);
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/List.css ***!
  \**********************************************************************************/
.body .list {
  position: relative;
  max-width: 240px;
  width: 100%;
  height: calc(100vh - 56px);
  overflow: hidden;
  overflow-y: scroll;
  border-right: 2px solid rgba(211, 211, 211, 0.4);
}

.body .list .title,
.body .list .subtitle {
  margin-block-end: 0px;
  margin-block-start: 0px;
  list-style-type: none;
}

.body .list .title a,
.body .list .subtitle a {
  text-decoration: none;
  padding: 10px 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body .list .title li,
.body .list .subtitle li {
  display: flex;
  position: relative;
}
.body .list .title a:hover,
.body .list .subtitle a:hover {
  background-color: rgba(211, 211, 211, 0.4);
}

.body .list .title a {
  padding: 10px 20px;
}
.body .list .subtitle a {
  padding: 10px 10px;
}

.body .list .title {
  padding-inline-start: 0px;
}

.body .list .subtitle {
  position: relative;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding-inline-start: 30px;
  transition: max-height 0.5s ease-in-out;
}

.body .list .title li.parent.selected::after {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  border-left: 8px solid #34568b;
  content: " ";
}

.body .list .subtitle li.selected {
  background-color: antiquewhite;
}

.body .list .title .children {
  width: 24px;
  stroke: rgb(212, 212, 212);
  transition: transform 0.5s ease-in-out;
}

.body .list .title.github {
  display: none;
}

@media screen and (min-width: 1300px) {
  .body .list {
    position: absolute;
    background: white;
    z-index: 1;
  }
}

@media screen and (max-width: 980px) {
  .body .list {
    position: absolute;
    background: white;
    z-index: 1;
    display: none;
  }
  .body .list.show {
    display: block;
  }
  .body .list .title.github {
    display: block;
  }
}

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/Header.css ***!
  \************************************************************************************/
.body .header {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body .header::after {
  position: absolute;
  width: calc(100% - 2px);
  border: 1px solid rgba(211, 211, 211, 0.4);
  content: "";
  bottom: 0px;
  left: 0px;
}

.body .header .title {
  padding-left: 10px;
  font-size: large;
  text-decoration: none;
}

.body .header .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body .header .menu li {
  padding-right: 10px;
  list-style-type: none;
  font-size: large;
}

.body .header .menu li a {
  text-decoration: none;
}

.body .header .m_menu {
  padding-left: 10px;
  display: none;
}

@media screen and (max-width: 980px) {
  .body .header .menu {
    display: none;
  }
  .body .header .m_menu {
    display: inline-block;
  }
}

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/Search.css ***!
  \************************************************************************************/
.search {
  position: relative;
  width: 100%;
}
.search input {
  position: relative;
  width: calc(100% - 42px);
  height: 48px;
  padding: 0px 20px;
  border: 0px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.8);
}

.search .search_icon {
  top: 12px;
  width: 24px;
  right: 20px;
  position: absolute;
  stroke: rgba(211, 211, 211, 0.8);
}

/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/Contents.css ***!
  \**************************************************************************************/
.body .container .contents {
  max-width: 700px;
  width: calc(100% - 40px);
  padding: 20px;
}

.body .container .contents * {
  word-break: break-all;
}

.body .container .contents .result li a {
  text-decoration: none;
}

.body .container .contents .result li a:hover {
  text-decoration: underline;
}

.body .container .paging {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.body .container .paging a {
  text-decoration: none;
}

.body .container .loading {
  position: fixed;
  left: calc(50vw - 32px);
  top: calc(50vh - 32px);
}

.body .container .loading.background::before {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(27, 31, 35, 0.2);
  content: "";
}

.body .container .loading .loading-svg {
  animation: loading 1s;
  animation-iteration-count: infinite;
  width: 64px;
  height: 64px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

